In [1]:
import pandas as pd
import numpy as np

pokemon = pd.read_csv('https://raw.githubusercontent.com/lgreski/pokemonData/master/Pokemon.csv', index_col=1)
games = pd.read_csv('clean_games.csv', index_col=0)

Examine the first few rows of each dataframe. What is the **index** for each?

In [2]:
# Examine the dataframes here:
print(games)

                                            Name  Year  Weight  AvgRating  \
BGGId
1                                     Die Macher  1986  4.3206    7.61428
2                                   Dragonmaster  1981  1.9630    6.64537
3                                        Samurai  1998  2.4859    7.45601
4                                 Tal der Könige  1992  2.6667    6.60006
6                             Mare Mediterraneum  1989  3.0000    6.55370
...                                          ...   ...     ...        ...
346965                      Azul: Queen's Garden  2021  3.0714    7.67076
347146                                   Salvage  2021  0.0000    7.45000
347521  Blitzkrieg!: World War Two in 20 Minutes  2019  1.6667    7.92276
348955       Rock Paper Scissors: Deluxe Edition  2021  4.5625    6.96970
349131                                  Splitter  2021  1.0000    6.48235

        MinPlayers  MaxPlayers  NumRatings  Kickstarted   Rank  Category
BGGId
1                3           5        5354            0    316  Strategy
2                3           4         562            0   3993  Strategy
3                2           4       15146            0    224  Strategy
4                2           4         340            0   5345  Thematic
6                2           6          81            0  10766  Thematic
...            ...         ...         ...          ...    ...       ...
346965           2           4         224            0   4556  Thematic
347146           3           4          34            0  13730  Thematic
347521           1           2          45            0  21926  Thematic
348955           1           3          66            1  11507  Thematic
349131           1          12          51            0  13460  Thematic

[20447 rows x 10 columns]

`pokemon` index: type

`games` index: name and category

Use `pd.pivot_table` to create a dataframe that displays a count of the number of Pokemon of each *primary* type within each generation. Specifically, the rows should represent primary type, the columns should represent the generation, and the values are a count of the number of Pokemon for each type/generation combo.

In [3]:
# Your code here
np.round(pd.pivot_table(pokemon, index=['Type1', 'Type2'], columns='Generation', values='Total', fill_value = 0))

Generation          1      2      3      4      5      6      7      8      9
Type1 Type2
Bug             300.0  290.0  293.0  250.0  372.0  206.0  300.0  180.0  274.0
      Dark        0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0  450.0
      Electric    0.0    0.0    0.0    0.0  396.0    0.0  450.0    0.0    0.0
      Fairy       0.0    0.0    0.0    0.0    0.0    0.0  384.0    0.0    0.0
      Fighting    0.0  500.0    0.0    0.0    0.0  600.0  570.0    0.0  570.0
...               ...    ...    ...    ...    ...    ...    ...    ...    ...
Water Ice       512.0    0.0    0.0    0.0    0.0    0.0    0.0  505.0    0.0
      Poison    425.0  440.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
      Psychic   442.0  490.0    0.0    0.0    0.0  590.0  475.0    0.0  478.0
      Rock        0.0  410.0  485.0    0.0  425.0    0.0    0.0  485.0    0.0
      Steel       0.0    0.0    0.0  530.0    0.0    0.0    0.0    0.0    0.0

[218 rows x 9 columns]

Use `pd.pivot_table` to create a dataframe that displays the average *number* of reviews for games broken down by category between 2001 and 2021. The categories should be the row labels.

In [5]:
# Your code here
games = games[(games['Year'] >= 2001) & (games['Year'] <= 2021)]
np.round(pd.pivot_table(games, index='Category', values='AvgRating', columns = 'Year', aggfunc=np.mean))

Year,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Category,,,,,,,,,,,,,,,,,,,,,
Abstract,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
CGS,6.0,6.0,6.0,6.0,6.0,6.0,7.0,6.0,7.0,6.0,...,7.0,7.0,7.0,7.0,7.0,8.0,7.0,8.0,NaN,8.0
Childrens,5.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,6.0,7.0,7.0,6.0,7.0,NaN
Family,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
Party,5.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0
Strategy,7.0,6.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,8.0,8.0
Thematic,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,6.0,6.0,6.0,6.0,6.0,7.0,7.0,7.0,7.0,7.0
War,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,7.0,...,7.0,7.0,7.0,7.0,8.0,8.0,8.0,8.0,8.0,8.0